$gradient1:linear-gradient(231.7deg, #18C8FF 15.39%, #933FFE 87.39%);
$gradient: linear-gradient(180.01deg, rgba(245, 245, 245, 0.53) 0.39%, rgba(205, 96, 188, 0.5) 24.76%, rgba(56, 77, 130, 0.26) 63.89%, rgba(105, 30, 226, 0.03) 92.45%);
$bgColor:rgba(3, 7, 34, 1);
$purple1:rgba(185, 130, 255, 1);
$purple1:rgba(132, 112, 255, 1);
$grey1:rgba(255, 255, 255, 1);
$grey2:rgba(32, 34, 48, 1)