@import "../../sass";
.section {
    // background-image: url(../../assets/images/hero/spotlight.svg);
    // background-repeat: no-repeat;
    // background-position-y: 10%;
    // background-size: 100% 100%;
    .heroText {
        font-size: rem(20);
        @include devices(1200px) {
            font-size: 16px;
        }
    }
    .container {
        .header {
            font-weight: 900;
            font-size: 48px;
            @include devices(1200px) {
                font-size: 30px;
            }
            @include devices(768px) {
                font-size: 24px;
            }
        }
        .btnContainer {
            background: $gradient1
        }
        .inputBtn {
            background: $bgColor;
            color: white;
            border-radius: 0px 25px 25px 0px;
        }
    }
    .btn {
        @include setBtn($gradient1)
    }
    .h1 {
        font-weight: 700;
        font-size: rem(48);
        @include devices(900px) {
            font-size: rem(35);
        }
        @include devices(768px) {
            font-size: rem(20);
        }
    }
    .smallPara {
        line-height: 36px;
        font-size: rem(20);
        @include devices(900px) {
            font-size: rem(15);
        }
        @include devices(768px) {
            font-size: rem(10);
        }
    }
}