@import "../../sass";
.container {
    .header {
        font-weight: 900;
        font-size: 24px;
    }
    .btnContainer {
        background: $gradient1
    }
    .inputBtn {
        background: $bgColor;
        color: white;
    }
}