@import "../../sass";
.label {
    font-size: rem(12);
    padding: 6px;
}

.text {
    font-size: rem(14)
}

.marketsBtn {
    color: $lightGreen;
    border-bottom: 1px solid $lightGreen
}